<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
	You can find out more about the <a href="http://railstutorial.org/">Ruby on Rails tutorial</a>, simply by following this <a href="http://rubyonrails.org/">link</a>. 
</p>